.clearfix{
	margin-bottom: 100px;
}
.main{
	width: 50%;
	margin: auto;
	background: #0794B6;
	border-radius: 50px;
	padding: 40px;
}
.heading{
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.form-group label{
	color: #fff;
}
.button{
	background-color: #00428c !important;

}
#success, #failure{
	margin-top: 20px;
	text-align: center;
	display: none;
}
#success{
	color: green;
}
#failure{
	color: red;
}
#nameErr, #usernameErr{
	color: #fff;
	display: none;
}
.user_table{
	margin-top: 50px;
}
.filter_buttons{
	float: right;
	margin-bottom: 10px;
}
.links, .further_box{
	float: right;
}
.further_box a{
	color: #fff;
	font-size: 18px;
}